<button (click)="redirectToProfile()" class="btn btn-sm btn-outline-info">Account Management</button>
<div class="container">
    <div>
        <label for="vorname">Vorname: <strong>{{person.vorname}}</strong></label>
    </div>
    <div>
        <label for="vorname">Nachname: <strong>{{person.nachname}}</strong></label>
    </div>
    <div>
        <label for="vorname">Geburtsdatum: <strong>{{person.geburtsdatum}}</strong></label>
    </div>
    <div>
        <label for="vorname">Adresse:
            <span class="container">
                {{person.adresse?.strasse}} {{person.adresse?.strassennummer}}
                {{person.adresse?.plz}} {{person.adresse?.stadt}}
            </span>
        </label>
    </div>
    <button class="btn btn-debug btn-outline-secondary btn-sm" data-toggle="modal" data-target= "#editModal">barbeiten</button>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ihre Angabne bearbeiten</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form #edite = "ngForm">
                <input type="hidden" ngModel= {{person.id}} name="id" id="id" required="">
                <input type="hidden" ngModel= {{person.username}} name="username" id="username" required="">
                <div>
                    <label for="strasse">Vorname</label>
                    <input type="text" ngModel= {{person.vorname}} name="vorname" class="form-control" id="vorname" required="">
                </div>
                <div>
                    <label for="strasse">Nachname</label>
                    <input type="text" ngModel= {{person.nachname}} name="nachname" class="form-control" id="nachname" required="">

                </div>
                <div>
                    <label for="strasse">Geburtsdatum</label>
                    <input type="date" ngModel= {{person.geburtsdatum}} name="geburtsdatum" class="form-control" id="geburtsdatum" required="">
                </div>
                <div>
                    <label for="strasse">Straße</label>
                    <input type="text" ngModel= {{person.adresse?.strasse}} name="strasse" class="form-control" id="strasse">
                </div>
                <div>
                    <label for="strassennummer">Straßennummer</label>
                    <input type="number" ngModel = {{person.adresse?.strassennummer}} name="strassennummer" class="form-control" id="strassennummer">
                </div>
                <div>
                    <label for="plz">PLZ</label>
                    <input type="text" ngModel = {{person.adresse?.plz}} name="plz" class="form-control" id="plz">
                </div>
                <div>
                    <label for="strassennummer">Stadt</label>
                    <input type="text" ngModel = {{person.adresse?.stadt}} name="stadt" class="form-control" id="stadt">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button [disabled] = "edite.invalid" (click)="editAddress(edite)" type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>
                </div>
            </form>
    </div>
</div>