<button class="btn btn-sm btn-secondary m-1" data-toggle="modal" data-target="#addSeminarModal">Ein neues Seminar hinzufügen</button>
<div class="row">
        <div class="col-2 form-group">
            <label for="search">suchen</label>
            <input type="search"
             id="search"
             name="search"
             class="form-control"
             style="margin-bottom: 2px;"
             placeholder="SeminarTitle"
             (input)="onSearchSeminarraum(serachSeminarInput.value)" ngModel #serachSeminarInput="ngModel">
        </div>
 
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>SeminarNr</th>
            <th>SeminarTitle</th>
            <th>Beginn</th>
            <th>Ende</th>
            <th>Kursinhalt</th>
            <th>Teilnehmeranzahl</th>
            <th>Seminarleiter</th>
            <th>Voraussetzung</th>
            <th>RaumNr</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let seminar of seminars">
            <td>{{seminar.seminarnummer}}</td>
            <td>{{seminar.seminarTitle}}</td>
            <td>{{seminar.beginn | date:'medium'}}</td>
            <td>{{seminar.ende | date:'medium'}}</td>
            <td>{{seminar.kursinhalt}}</td>
            <td>{{seminar.teilnehmeranzahl}}</td>
            <td>{{seminar.seminarleiter}}</td>
            <td>{{seminar.voraussetzung}}</td>
            <td>{{seminar?.seminarraum?.raumnummer}}</td>
            <td><button (click)="onSeminarBuchen(seminar.seminarnummer)" type="button" class="btn btn-sm btn-outline-secondary">Buchen</button></td>
            <td><button (click)="onToggleModal(seminar)" type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#editeSeminarModal">Bearbeiten</button></td>
            <td><button (click)="onToggleModal(seminar)" type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Löschen</button></td>
        </tr>
    </tbody>
</table>


<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="updateMode">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Wollen Sie das Seminar <span class="text-bg-dark">{{onToggleSeminar.seminarTitle}} </span>&nbsp; löschen? 
            <br><br>
            <span class="text-bg-danger">Warnung:</span>&nbsp;<span class="text text-dark">Alle Buchungen in diesem Seminar werden auch mitgelöscht</span>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
            <button type="submit" (click)="onDeleteSeminar(onToggleSeminar.seminarnummer)" class="btn btn-primary" data-dismiss="modal">Löschen</button>
        </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addSeminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!-- modal-content -->
        <div class="modal-content">
        <!-- modal-header -->
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- modal-body -->
        <div class="modal-body">
            <form #addForm="ngForm">
                <div>
                    <label for="add-seminarnummer"></label>
                    <input type="hidden" ngModel name="seminarnummer" class="form-control" id="add-seminarnummer">
                </div>
                <div>
                    <label for="add-seminarTitle">SeminarTitle</label>
                    <input type="text" ngModel name="seminarTitle" class="form-control" id="add-seminarTitle" required="">
                </div>
                <div>
                    <label for="add-beginn">Beginn</label>
                    <input type="datetime-local" ngModel name="beginn" class="form-control" id="add-beginn" required="">
                </div>
                <div>
                    <label for="add-ende">Ende</label>
                    <input type="datetime-local" ngModel name="ende" class="form-control" id="add-ende" required="">
                </div>
                <div>
                    <label for="add-kursinhalt">Kursinhalt</label>
                    <input type="text" ngModel name="kursinhalt" class="form-control" id="add-kursinhalt" required="">
                </div>
                <div>
                    <label for="add-teilnehmeranzahl">Teilnehmeranzahl</label>
                    <input type="number" ngModel name="teilnehmeranzahl" class="form-control" id="add-teilnehmeranzahl">
                </div>
                <div>
                    <label for="add-seminarleiter">Seminarleiter ID</label>
                    <input type="text" ngModel name="seminarleiter" class="form-control" id="add-seminarleiter" required="">
                </div>
                <div>
                    <label for="add-voraussetzung">Voraussetzung</label>
                    <input type="text" ngModel name="voraussetzung" class="form-control" id="add-voraussetzung" required="">
                </div>
                <div>
                    <label for="add-seminarraum">Raumnummer</label><br>
                    <select ngModel name="seminarraum" id="seminarraum" class="form-control" required="">
                        <option *ngFor="let seminarraum of seminarraums"
                        value={{seminarraum.raumnummer}}>
                            {{seminarraum.name}}
                        </option>
                    </select>
                </div>
                <!-- modal-footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button [disabled]="addForm.invalid" (click)="onAddSeminar(addForm)" type="submit" class="btn btn-primary" data-dismiss="modal">Hinzufügen</button>
                </div>
            </form>
        </div>
        
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editeSeminarModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" *ngIf="updateMode">
    <div class="modal-dialog" role="document">
        <!-- modal-content -->
        <div class="modal-content">
        <!-- modal-header -->
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- modal-body -->
        <div class="modal-body">
            <form #editeForm="ngForm">
                <div>
                    <label for="add-seminarnummer"></label>
                    <input type="hidden" ngModel = {{onToggleSeminar.seminarnummer}} name="seminarnummer" class="form-control" id="add-seminarnummer" required="">
                </div>
                <div>
                    <label for="add-seminarTitle">SeminarTitle</label>
                    <input type="text" ngModel = {{onToggleSeminar.seminarTitle}} name="seminarTitle" class="form-control" id="add-seminarTitle" required="">
                </div>
                <div>
                    <label for="add-beginn">Beginn</label>
                    <input type="datetime-local" ngModel = {{onToggleSeminar.beginn}} name="beginn" class="form-control" id="add-beginn" required="">
                </div>
                <div>
                    <label for="add-ende">Ende</label>
                    <input type="datetime-local" ngModel = {{onToggleSeminar.ende}} name="ende" class="form-control" id="add-ende" required="">
                </div>
                <div>
                    <label for="add-kursinhalt">Kursinhalt</label>
                    <input type="text" ngModel = {{onToggleSeminar.kursinhalt}} name="kursinhalt" class="form-control" id="add-kursinhalt" required="">
                </div>
                <div>
                    <label for="add-teilnehmeranzahl">Teilnehmeranzahl</label>
                    <input type="number" ngModel = {{onToggleSeminar.teilnehmeranzahl}} name="teilnehmeranzahl" class="form-control" id="add-teilnehmeranzahl">
                </div>
                <div>
                    <label for="add-seminarleiter">Seminarleiter</label>
                    <input type="text" ngModel = {{onToggleSeminar.seminarleiter}} name="seminarleiter" class="form-control" id="add-seminarleiter" required="">
                </div>
                <div>
                    <label for="add-voraussetzung">Voraussetzung</label>
                    <input type="text" ngModel = {{onToggleSeminar.voraussetzung}} name="voraussetzung" class="form-control" id="add-voraussetzung" required="">
                </div>
                <div>
                    <label for="add-seminarraum">Raumnummer</label><br>
                    <select ngModel name="seminarraum" id="seminarraum" class="form-control" required="">
                        <option *ngFor="let seminarraum of seminarraums"
                        value={{seminarraum.raumnummer}}>
                            {{seminarraum.name}}
                        </option>
                    </select>
                </div>
                <!-- modal-footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button [disabled]="editeForm.invalid"  (click)="onAddSeminar(editeForm)" type="submit" class="btn btn-primary" data-dismiss="modal">Speicher</button>
                </div>
            </form>
        </div>
        
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>
    