<h5 class="text text-dark">Einen neuen Raum hinzufügen</h5>
<form #addForm="ngForm" (ngSubmit)="addSeminarraum(addForm)">
    <div>
        <label for="name">Name</label>
        <input type="text" ngModel name="name" class="form-control" id="name" placeholder="name" required="">
    </div>

    <div>
        <label for="maximalePersonenanzahl">MaximalePersonenanzahl</label>
        <input type="number" ngModel name="maximalePersonenanzahl" class="form-control" id="maximalePersonenanzahl" placeholder="maximalePersonenanzahl" required="">
    </div>

    <div>
        <label for="ausstattung">Ausstattung</label>
        <input type="text" ngModel name="ausstattung" class="form-control" id="ausstattung" placeholder="ausstattung" required="">
    </div>
    <button [disabled]="addForm.invalid" type="submit" class="mt-2 btn btn-sm btn-primary m-2">Speichern</button>
</form>

<br>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Raumnummer</th>
            <th>Name</th>
            <th>MaximalePersonenanzahl</th>
            <th>Ausstattung</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let seminarraum of seminarraums">
            <td>{{seminarraum?.raumnummer}}</td>
            <td>{{seminarraum?.name}}</td>
            <td>{{seminarraum?.maximalePersonenanzahl}}</td>
            <td>{{seminarraum?.ausstattung}}</td>
            <td><button class="btn btn-sm btn-outline-danger" type="submit" (click)="deleteSeminarraum(seminarraum?.raumnummer)">Löschen</button></td>
        </tr>
    </tbody>
</table>
