<h5 class="text text-dark">Einen neuen Raum hinzufügen</h5>
<form #addForm="ngForm" (ngSubmit)="addSeminarraum(addForm)">
    <div>
        <label for="name">Name</label>
        <input type="text" ngModel name="name" class="form-control" id="name" placeholder="name" required="">
    </div>

    <div>
        <label for="maximalePersonenanzahl">MaximalePersonenanzahl</label>
        <input type="number" ngModel name="maximalePersonenanzahl" class="form-control" id="maximalePersonenanzahl" placeholder="maximalePersonenanzahl" required="">
    </div>

    <div>
        <label for="ausstattung">Ausstattung</label>
        <input type="text" ngModel name="ausstattung" class="form-control" id="ausstattung" placeholder="ausstattung" required="">
    </div>
    <button [disabled]="addForm.invalid" type="submit" class="mt-2 btn btn-sm btn-primary m-2">Speichern</button>
    <button type="reset" class="mt-2 btn btn-sm btn-secondary m-2">Abbrechen</button>
</form>

<br>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Raumnummer</th>
            <th>Name</th>
            <th>MaximalePersonenanzahl</th>
            <th>Ausstattung</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let seminarraum of seminarraums">
            <td>{{seminarraum?.raumnummer}}</td>
            <td>{{seminarraum?.name}}</td>
            <td>{{seminarraum?.maximalePersonenanzahl}}</td>
            <td>{{seminarraum?.ausstattung}}</td>
            <td>
                <button (click)="onToggleModal(seminarraum)" class="btn btn-sm btn-outline-danger" type="button" data-toggle="modal" data-target="#deleteModal">Löschen</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Wollen Sie den Seminarraum <span class="text-white text-bg-danger">{{onToggleSeminarraum.name}} </span> löschen? 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="submit" (click)="deleteSeminarraum(onToggleSeminarraum.raumnummer)" class="btn btn-primary" data-dismiss="modal">Löschen</button>
    </div>
    </div>
</div>
</div>

